<!-- <div *ngIf="estaLogado()">
    <a routerLink="/menu">Clientes</a> | 
    <a routerLink="/detalhes">Fazer Buscar</a> | 
    <a routerLink="/cadastro">Cadastra Cliente</a> |
    <a href="#" (click)="onLogoff($event)">Logoff</a>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" *ngIf="estaLogado()">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active"  routerLink="/menu">Clientes <span class="sr-only">(Página atual)</span></a>
          <a class="nav-item nav-link active"  routerLink="/detalhes">Fazer Buscar</a>
          <a class="nav-item nav-link active"  routerLink="/cadastro">Cadastra Cliente</a>
          <a class="nav-item nav-link" href="#" (click)="onLogoff($event)">Logoff</a>
        </div>
      </div>
    </nav>
  
  <router-outlet></router-outlet>
  